<div class="welcome">
    <h1 lang="en" tabindex="0">Welcome</h1>
    <h2 lang="en" tabindex="0">Home Level A</h2>
</div>

<div class="contentContainer" aria-label="Copntaine with content cards inside">
    <p-card (click)="handleClick('/sub/A')" (keydown)="handleKeyDown($event, '/sub/A')" tabindex="0"
        [style]="{ width: '360px' }">
        <ng-template pTemplate="header">
            <img alt="picture iof a pier" src="../../assets/gordonPlant.jpg" />
        </ng-template>
        <h3 lang="en">
            Sustainability</h3>
        <p lang="en">very
            Interesting</p>
        <p lang="en">
            This is a very serious article. Its so serious in fact, that it coudnt be more fascinating.
            So get ready to be blown away by so much seriousness. really its very interesting to say the least.

        </p>

    </p-card>
    <p-card (click)="handleClick('/sub/A')" (keydown)="handleKeyDown($event, '/sub/A')" tabindex="0"
        [style]="{ width: '360px' }">
        <ng-template pTemplate="header">
            <img alt="picture of vienna" src="../../assets/pexels-chris-hepworth-16047549.jpg" />
        </ng-template>
        <h3 lang="en">
            Seaturtles</h3>
        <p lang="en">very
            Interesting</p>
        <p lang="en">
            Very very interesting topic with lots of good aticles you should read its very cool yes indeed.
            there is a boat in this picture very cool no? its in vienna, very international, very mr world wide.
        </p>

    </p-card>
    <p-card (click)="handleClick('/sub/A')" (keydown)="handleKeyDown($event, '/sub/A')" tabindex="0"
        [style]="{ width: '360px' }">
        <ng-template pTemplate="header">
            <img alt="picture of the dunes" src="../../assets/pexels-stijn-dijkstra-16747506 (1).jpg" />
        </ng-template>
        <h3 lang="en">
            Technology</h3>
        <p lang="en">very
            Interesting</p>
        <p lang="en">
            This is a atricle so fascinating. its about turtles, because turtles are very cool.
            they have a big shell like the gas station. ok yes this is a very interesting article so go ahead and read
            it. thank you.
        </p>

    </p-card>
    <p-card (click)="handleClick('/sub/A')" (keydown)="handleKeyDown($event, '/sub/A')" tabindex="0"
        [style]="{ width: '360px' }">
        <ng-template pTemplate="header">
            <img alt="picture of a field" src="../../assets/pexels-josh-withers-16978839.jpg" />
        </ng-template>
        <h3 lang="en">
            Underground</h3>
        <p lang="en">
            very
            Interesting</p>
        <p lang="en">
            this isnt really a topic about underground the picture is overgorund kinda weird no? but anyways its still
            pretty.
            sun's shining and everything very nice yes yes. i go write more articles now bye.
        </p>

    </p-card>
    <p-card (click)="handleClick('/sub/A')" (keydown)="handleKeyDown($event, '/sub/A')" tabindex="0"
        [style]="{ width: '360px' }">
        <ng-template pTemplate="header">
            <img alt="picture of a lake" src="../../assets/pexels-christyn-reyes-13458334.jpg" />
        </ng-template>
        <h3 lang="en">
            Animals</h3>
        <p lang="en">very
            Interesting</p>
        <p lang="en">
            Animals are cool, because they have fur sometimes. But sometimes they dont which is also cool. Sometimes
            they live
            underwater thats crazy isnt it? Go ahead and look at these articles.
        </p>

    </p-card>
</div>