<h1>Register Level A</h1>
<div class="center">
    <div [ngClass]="{'form-half' : size == 'size'}" class="p-fluid" id="form">
        <div class="col-2">
            <label for="firstName">Fistname:</label>
            <label *ngIf="!firstNameExists" class="error-required">*
                field is required</label>
            <div class="col w-full">
                <input autocomplete="new-password" [attr.aria-required]="true" [attr.aria-invalid]="!firstNameExists"
                    spellcheck="true" (ngModelChange)="checkName()" id="firstName" aria-label="input firstName"
                    pInputText type="text" [(ngModel)]="firstName" />
            </div>
        </div>

        <div class="col-2">
            <label for="lastName">
                Lastname:</label>
            <label *ngIf="!lastNameExistst" class="error-required">*
                field is required</label>
            <div>
                <input autocomplete="new-password" [attr.aria-required]="true" [attr.aria-invalid]="!lastNameExistst"
                    (ngModelChange)="checkName()" id="lastName" aria-label="input lastName" pInputText type="text"
                    [(ngModel)]="lastName" />
            </div>
        </div>

        <div class="col-2">
            <label for="email">E-Mail:</label>
            <label *ngIf="!email" class="error-required">*
                field is required </label>
            <div>
                <input type="text" autocomplete="off" [attr.aria-required]="true" [attr.aria-invalid]="!emailValid"
                    pInputText id="email" (change)="checkEmailValid(email)" aria-label="input email" pInputText
                    type="email" [(ngModel)]="email" />
            </div>
        </div>

        <div class="col-2">
            <label for="email">Username:</label>
            <label *ngIf="!userNameExistst" class="error-required">*
                field is required</label>
            <div>
                <input [attr.aria-required]="true" [attr.aria-invalid]="!userNameExistst" (ngModelChange)="checkName()"
                    id="username" aria-label="input username" pInputText type="username" [(ngModel)]="username" />
            </div>
        </div>

        <div class="col-2" tabindex="-1">
            <label for="birthday">Birthday:</label>
            <label *ngIf="!isAdult" class="error-required">*
                field is required</label>
            <div>
                <p-calendar [attr.aria-required]="true" [attr.aria-invalid]="!isAdult" (onSelect)="checkAge(birthday)"
                    aria-label="input birthday" name="date" [(ngModel)]="birthday" [showIcon]="true"></p-calendar>
            </div>
        </div>

        <div class="buttoncontainer">
            <div class="left">
                <p-button (onClick)="onSubmit('/main/A')"
                    [ngClass]="{'button-one' : size == 'size1', 'button-half' : size == 'size15', 'button-two' : size == 'size2', }"
                    pRipple aria-label="submit register form" [disabled]="!validated" label="Submit"></p-button>
            </div>
            <div class="right">
                <p-button (onClick)="onSubmit('/main/A')"
                    [ngClass]="{'button-one' : size == 'size1', 'button-half' : size == 'size15', 'button-two' : size == 'size2', }"
                    router-l aria-label="cancel register form" label="Cancel"></p-button>
            </div>
        </div>
    </div>
</div>