.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  flex-shrink: 1;
}

* {
  box-sizing: border-box;
  margin: 0;
}

header {
  background-color: rgb(233, 232, 232);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  width: 100%;
}

footer {
  background-color: rgb(233, 232, 232);
  display: flex;
  justify-content: space-evenly;
  margin-top: 200px;
  padding: 20px 10%;
}

a:focus,
a:focus-visible {
  border: 1px solid blueviolet;
  outline: 1px solid blueviolet;
  box-shadow: 2px;
  border-radius: 2px;
}

a {
  padding: 2px;
}

.routers {
  min-height: calc(100vh - 355px) !important;
}

.breadContainer {
  display: flex;
}

.bread {
  display: flex;
}

.breads {
  padding: 20px;
  display: flex;
  border: 1px solid slategray;
  border-radius: 2px;
  box-shadow: 2px;
}

.block {
  padding: 20px;
  display: flex;
  border-radius: 2px;
  box-shadow: 2px;
  height: 75px !important;
}

.breadLink {
  padding: 0 15px;
  font-size: 20px;
}

.breadDash {
  font-size: 20px;
}

.breadHome {
  padding-top: 4px;
}

nav {
  display: flex;
  align-items: center;
}

.abutton {
  display: flex;
  justify-content: center;
}

.navLinks {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.vc {
  position: relative;
  width: 20px;
  padding: 2px;
}

.colorPickerDiv {
  width: 20px;
  display: flex;
  padding: 5px;
  flex-direction: column;
}

.navLinks li {
  margin: 0 10px;
}

a {
  font-size: 16px;
  text-decoration: none;
  color: black;
}

p-button {
  font-size: 16px;
}

.label {
  font-size: 100%;
}

.label-half {
  font-size: 150%;
}

.label-two {
  font-size: 200%;
}

.navLinks {
  list-style: none;
  font-size: 30px;
  flex-grow: 1;
}

.navLinks li {
  display: inline-block;
  padding: 0px 20px;
}