.custom-breadcrumb {
    margin: 0;
}

.contentContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

p-card {
    padding-top: 20px;
}

.h-one {
    font-size: 26px !important;
}

.h-half {
    font-size: 39px !important;
}

.h-two {
    font-size: 52px !important;
}


.label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    line-height: 1.5;
    letter-spacing: .16rem;
    word-spacing: .12rem;
}

.label-half {
    font-size: 150%;
    line-height: 1.5;
    letter-spacing: .16rem;
    word-spacing: .12rem;
}

.label-two {
    font-size: 200%;
    line-height: 1.5;
    letter-spacing: .16rem;
    word-spacing: .12rem;
}

.headerClass-one {
    font-size: 100%;
}

.headerClass-half {
    font-size: 150%;
}

.headerClass-two {
    font-size: 200%;
}